{
  "openapi": "3.1.0",
  "info": {
    "title": "Hertwill Public API",
    "description": "Public API for Hertwill dropshipping platform. Discover products, manage your import list, and sync products to your store.\n\n## Authentication\n\n**Public endpoints** (product discovery) require no authentication.\n\n**Authenticated endpoints** (import list, sync) require a store-scoped API key:\n```\nAuthorization: Bearer hw_live_...\n```\n\nCreate API keys via the web dashboard or the `/v1/api-keys` endpoint (requires JWT login).\n\n## Rate Limits\n\n- Public endpoints: 60 requests/minute per IP\n- Authenticated endpoints: 300 requests/minute per API key\n\nRate limit information is included in responses via the `RateLimit` and `RateLimit-Policy` headers (draft-8 combined format).\n",
    "version": "1.0.0",
    "contact": {
      "name": "Hertwill API Support",
      "email": "support@hertwill.com"
    }
  },
  "servers": [
    {
      "url": "https://api.hertwill.com",
      "description": "Production"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Auth",
      "description": "Register, login, and refresh tokens"
    },
    {
      "name": "Products",
      "description": "Browse and search the product catalog (public, no auth required)"
    },
    {
      "name": "Categories",
      "description": "Product categories (public)"
    },
    {
      "name": "Brands",
      "description": "Brand listing (public)"
    },
    {
      "name": "Import List",
      "description": "Manage your store's import list (API key required)"
    },
    {
      "name": "Sync",
      "description": "Sync products to your connected store (API key required)"
    },
    {
      "name": "API Keys",
      "description": "Manage API keys (JWT auth required)"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Store-scoped API key (hw_live_...)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT token from login"
      }
    },
    "schemas": {
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "description": "Price in EUR"
          },
          "sale_price": {
            "type": "number",
            "nullable": true
          },
          "stock": {
            "type": "integer",
            "nullable": true
          },
          "stock_status": {
            "type": "string",
            "enum": [
              "instock",
              "outofstock"
            ]
          },
          "brand": {
            "$ref": "#/components/schemas/Brand",
            "nullable": true
          },
          "images": {
            "type": "object",
            "properties": {
              "featured": {
                "type": "string",
                "nullable": true
              },
              "gallery": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "variations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Variation"
            }
          },
          "category": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string"
              }
            }
          },
          "collections": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                }
              }
            }
          },
          "shipping_regions": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "attributes": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Variation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "sale_price": {
            "type": "number",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "stock": {
            "type": "integer",
            "nullable": true
          },
          "stock_status": {
            "type": "string"
          },
          "attributes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "string",
            "nullable": true
          },
          "children": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "parent_id": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "Brand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string",
            "nullable": true,
            "description": "URL of the brand logo image."
          },
          "cover": {
            "type": "string",
            "nullable": true,
            "description": "URL of the brand cover/banner image."
          },
          "marketing_assets_url": {
            "type": "string",
            "nullable": true,
            "description": "Link to the brand's downloadable marketing materials (banners, promo images, product photography) for use in your store."
          },
          "shipping_origin_iso_code": {
            "type": "string",
            "nullable": true,
            "description": "ISO-2 country code the brand ships from. Use as the `origin` filter on the brand shipping price-lists endpoint."
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "page_count": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "request_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "ShippingPrice": {
        "type": "object",
        "description": "A single origin->destination shipping rate lane.",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "origin_iso_code": {
            "type": "string",
            "description": "ISO-2 origin country code (the brand's shipping origin)."
          },
          "dest_iso_code": {
            "type": "string",
            "description": "ISO-2 destination country code."
          },
          "price": {
            "type": "number",
            "nullable": true,
            "description": "Shipping price for this lane in EUR. null when no rate is defined for the destination."
          },
          "origin_country": {
            "type": "string",
            "description": "Human-readable origin country name."
          },
          "destination_country": {
            "type": "string",
            "description": "Human-readable destination country name."
          }
        }
      },
      "ShippingPriceList": {
        "type": "object",
        "description": "A brand's shipping price list. The name is a coverage tag (e.g. \"EU\", \"EU . UK . USA\"). shipping_prices holds one rate per origin->destination lane.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Coverage tag for the list (e.g. \"EU\", \"EU . UK . USA\")."
          },
          "description": {
            "type": "string"
          },
          "per_item": {
            "type": "boolean",
            "description": "True when the brand has at least one public product on this list that ships per item (large/extra-large size class)."
          },
          "shipping_prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShippingPrice"
            }
          }
        }
      }
    },
    "parameters": {
      "page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "per_page": {
        "name": "per_page",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 50,
          "minimum": 1,
          "maximum": 100
        }
      },
      "sort_by": {
        "name": "sort_by",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "price",
            "date",
            "sales"
          ]
        }
      },
      "sort_order": {
        "name": "sort_order",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc"
        }
      }
    }
  },
  "paths": {
    "/v1/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register a new account",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password",
                  "first_name",
                  "last_name"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "last_name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "user@example.com",
                "password": "securepass123",
                "first_name": "John",
                "last_name": "Doe"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Registration successful, verification email sent"
          },
          "409": {
            "description": "Email already in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (invalid email, password too short, missing fields)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login and get JWT token",
        "description": "Returns a JWT token and refresh token. Use the JWT token as `Authorization: Bearer <token>`\nto create API keys via `/v1/api-keys`.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "user@example.com",
                "password": "securepass123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "JWT token (expires in 1 hour)"
                        },
                        "refresh_token": {
                          "type": "string",
                          "description": "Refresh token (use to get a new JWT)"
                        },
                        "user": {
                          "type": "object",
                          "description": "User profile and store data"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Email not verified",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (invalid email format, missing password)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh JWT token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token"
                ],
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New token pair",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "refresh_token": {
                          "type": "string"
                        },
                        "user": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (missing refresh_token)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Browse products",
        "description": "List products with faceted filtering, sorting, and pagination.\nNote: variations are not included in list responses. Use GET /v1/products/{id} to get full product details with variations.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_order"
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Filter by brand slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Minimum price filter (EUR)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Maximum price filter (EUR)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "on_sale",
            "in": "query",
            "description": "Filter to products on sale",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "stock_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "instock",
                "outofstock"
              ]
            }
          },
          {
            "name": "shipping_region",
            "in": "query",
            "description": "Filter by shipping region",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Comma-separated attribute values to filter by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated product list with facets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        "facets": {
                          "type": "array"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": 123,
                      "slug": "organic-cotton-tshirt",
                      "name": "Organic Cotton T-Shirt",
                      "sku": "OCT-001",
                      "description": "Premium organic cotton t-shirt",
                      "brand": {
                        "id": 5,
                        "name": "EcoWear",
                        "slug": "ecowear",
                        "description": ""
                      },
                      "price": 29.99,
                      "sale_price": null,
                      "stock": 50,
                      "stock_status": "instock",
                      "images": {
                        "featured": "https://cdn.hertwill.com/products/123.jpg",
                        "gallery": []
                      },
                      "category": {
                        "id": 1,
                        "name": "Apparel",
                        "slug": "apparel"
                      },
                      "collections": [
                        {
                          "id": 10,
                          "name": "Summer 2026",
                          "slug": "summer-2026"
                        }
                      ]
                    }
                  ],
                  "meta": {
                    "pagination": {
                      "page": 1,
                      "per_page": 50,
                      "total": 234,
                      "page_count": 5
                    },
                    "request_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/search": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Search products",
        "description": "Hybrid keyword and semantic search for intelligent product matching.\nSupports all the same filters as the browse endpoint.\nNote: variations are not included in search results. Use GET /v1/products/{id} to get full product details with variations.\n",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (e.g., \"organic cotton tshirt\", \"blue running shoes\")",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/sort_by"
          },
          {
            "$ref": "#/components/parameters/sort_order"
          },
          {
            "name": "brand",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "on_sale",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "stock_status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "instock",
                "outofstock"
              ]
            }
          },
          {
            "name": "shipping_region",
            "in": "query",
            "description": "Filter by shipping region",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "Comma-separated attribute values to filter by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results with facets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        },
                        "facets": {
                          "type": "array"
                        },
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product by ID",
        "description": "Retrieve a single product by its numeric ID. Falls back to slug lookup if not numeric.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/slug/{slug}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Get product by slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "List categories",
        "responses": {
          "200": {
            "description": "List of categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "Get category by ID or slug",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Category ID (numeric) or slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category details with children",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Category"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Category not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "List brands",
        "responses": {
          "200": {
            "description": "List of brands",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Brand"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/import-list": {
      "get": {
        "tags": [
          "Import List"
        ],
        "summary": "List import list products",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "not-synced",
                "syncing",
                "synced",
                "sync-failed",
                "approved",
                "rejected",
                "pending",
                "approval-required"
              ]
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "added_dt",
                "name",
                "price"
              ],
              "default": "added_dt"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import list products"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Store not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/import-list/products": {
      "post": {
        "tags": [
          "Import List"
        ],
        "summary": "Add products to import list",
        "description": "Add one or more products to your store's import list. Max 50 products per request.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "product_ids"
                ],
                "properties": {
                  "product_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "minItems": 1,
                    "maxItems": 50,
                    "description": "Product IDs to add"
                  }
                }
              },
              "example": {
                "product_ids": [
                  123,
                  456,
                  789
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Products added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product_id": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "added",
                              "already_exists",
                              "not_found",
                              "error"
                            ]
                          },
                          "parent_id": {
                            "type": "integer"
                          },
                          "variation_ids": {
                            "type": "array",
                            "items": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "product_id": 123,
                      "status": "added",
                      "parent_id": 1001,
                      "variation_ids": [
                        2001,
                        2002
                      ]
                    },
                    {
                      "product_id": 456,
                      "status": "already_exists"
                    },
                    {
                      "product_id": 789,
                      "status": "not_found"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request body (product_ids must be a non-empty array of integers, max 50)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/import-list/products/{productId}": {
      "delete": {
        "tags": [
          "Import List"
        ],
        "summary": "Remove product from import list",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product removed"
          },
          "400": {
            "description": "Invalid product ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Product not found in import list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sync/products": {
      "post": {
        "tags": [
          "Sync"
        ],
        "summary": "Start product sync",
        "description": "Trigger sync of a product from your import list to your connected store (Shopify/WooCommerce).\nThe product must already be in your import list.\n\n**Prerequisites:**\n- Your store must have a Shopify or WooCommerce integration connected. Set one up at [hertwill.com/account/integration](https://hertwill.com/account/integration).\n- Your store must not have reached its product sync capacity. If you hit the limit, upgrade your plan at [hertwill.com/account/plans](https://hertwill.com/account/plans).\n",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "product_id",
                  "default_store_markup"
                ],
                "properties": {
                  "product_id": {
                    "type": "integer",
                    "description": "Product ID to sync"
                  },
                  "default_store_markup": {
                    "type": "number",
                    "description": "Price markup percentage (e.g., 1.5 for 50% markup)"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "variations": {
                    "type": "array",
                    "description": "Required for products with variants",
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "dropship_id",
                        "default_store_markup"
                      ],
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "dropship_id": {
                          "type": "integer"
                        },
                        "default_store_markup": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "product_id": 123,
                "default_store_markup": 1.5
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Sync started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string",
                          "example": "syncing"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "product_id": 123,
                    "status": "syncing",
                    "message": "Sync started"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sync not allowed — store has reached its product sync limit. Upgrade your plan at hertwill.com/account/plans.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Product not found, or product not in import list — add it via POST /v1/import-list/products first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error. Possible causes:\n- No store platform connected — connect at hertwill.com/account/integration.\n- Variations are required but not provided for a product with variants.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sync/jobs": {
      "get": {
        "tags": [
          "Sync"
        ],
        "summary": "List sync jobs",
        "description": "Returns products by sync status. Omit the status parameter to return all. Use GET /v1/sync/jobs/{productId} to check a specific product.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by sync status",
            "schema": {
              "type": "string",
              "enum": [
                "syncing",
                "synced",
                "sync-failed",
                "not-synced"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sync jobs"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Store not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sync/jobs/{productId}": {
      "get": {
        "tags": [
          "Sync"
        ],
        "summary": "Get sync status for a product",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync job status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "product_id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "started_at": {
                          "type": "string",
                          "nullable": true
                        },
                        "completed_at": {
                          "type": "string",
                          "nullable": true
                        },
                        "has_errors": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid product ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Product not found in store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create API key",
        "description": "Create a new store-scoped API key. Requires JWT authentication (login first).\nThe raw key is returned only once — store it securely.\n",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "store_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A label for this key",
                    "example": "My CLI Key"
                  },
                  "store_id": {
                    "type": "integer",
                    "description": "Store to scope this key to"
                  }
                }
              },
              "example": {
                "name": "My CLI Key",
                "store_id": 42
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created (raw key shown only once)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        },
                        "prefix": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string",
                          "description": "The full API key (shown only once)"
                        },
                        "store_id": {
                          "type": "integer"
                        },
                        "created_at": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": 1,
                    "name": "My CLI Key",
                    "prefix": "hw_live_a1b2c3d4",
                    "key": "hw_live_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6",
                    "store_id": 42,
                    "created_at": "2026-04-07T12:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated — login first via POST /v1/auth/login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "You do not have access to this store",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request body (name required, store_id must be a positive integer)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "List all API keys for your stores. Secrets are masked (only prefix shown).",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys"
          },
          "401": {
            "description": "Not authenticated — login first via POST /v1/auth/login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke API key",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked"
          },
          "400": {
            "description": "Invalid key ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated — login first via POST /v1/auth/login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "API key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}": {
      "get": {
        "tags": [
          "Brands"
        ],
        "operationId": "getBrandById",
        "summary": "Get brand by ID",
        "description": "Retrieve a single brand, including its marketing material links (logo, cover, marketing_assets_url) and shipping origin country.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Brand ID (numeric).",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Brand details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Brand"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Brand not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brands/{id}/shipping-price-lists": {
      "get": {
        "tags": [
          "Brands"
        ],
        "operationId": "getBrandShippingPriceLists",
        "summary": "Get a brand's shipping price lists",
        "description": "Returns the brand's shipping price lists (coverage tag + per origin->destination rate).",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Brand ID (numeric).",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": false,
            "description": "Optional ISO-2 origin country code to filter lanes to a single shipping origin.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The brand's shipping price lists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ShippingPriceList"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Brand not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
